.main-grid {
  img {
    width: 100%;
    filter: grayscale(1);
    transition: all 700ms ease;
    cursor: pointer;
  }

  img:hover {
    filter: grayscale(0.3);
    transform: scale(1.2);
  }
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;

  h1 {
    background-color: black;
    color: white;
    grid-column: 3/-1;
    grid-row: 1;
    font-size: 4rem;
    padding: 0 0.5em;

  }
  
  .img-1 {
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    img {
      width: 100%;
      transform: translateX(-20vw);
    }
  }
  .img-2 {
    grid-column: 3/5;
    grid-row: 2;
    transform: translateX(-10vw);
  }
  .img-3 {
    grid-column: 3/5;
    grid-row: 3;
    transform: translateX(-10vw);
  }
  .para {
    z-index: -2;
    background-color: black;
    color: white;
    grid-column: 4/6;
    grid-row: 2/5;
    transform: translateY(-20px);
    padding-right: 1em;
    display: grid;
    grid-template-columns: subgrid;
    div {
      grid-column: 1/-1;
      font-style: italic;
      h2 {
        font-size: 4rem;
        padding-left: 15vw;
        line-height: 1.5;
      }
      p {
        padding-left: 15vw;
        line-height: 1.5;
        font-size: 3rem;
      }
      .step-1 {
        grid-row: 1;
      }
      .step-2 {
        grid-row: 2;
      }
    }
  }
}


@media screen and (max-width:1200px) {
  .main-grid h1{
    padding-top: 1em;
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 2rem;
    text-align: center;

  }
  .main-grid .para{
    grid-column: 3/-1;
  }
  .main-grid .para .step-1 h2, .main-grid .para .step-2 h2{
    font-size: 2rem;
  }
  .main-grid .para .step-1 p, .main-grid .para .step-2 p{
    font-size: 1.5rem;
  }
  .main-grid .img-2{
    grid-column: 2/4;
  }
  .main-grid .img-3{
    grid-column: 2/4;
  }
}